body {
    background-color: cadetblue;
}

.body-color {
    background-color: black;
    color: white; 
}

.parent_div {
    height: 100vh;
    width:fit-content;
    background-repeat: no-repeat;
    position:absolute;
    background-size: contain;
    background-image: url("caresoulimage.jpg");
}

